extends layout

block content
  <!-- Vengono inizializzate le variabili errorMsg e users, il cui contenuto è inviato da Node.js nella renderizzazione del template -->
  div.container(ng-app="", ng-init="errorMsg=#{JSON.stringify(errorMsg)}; users = #{JSON.stringify(users)}")
      div.jumbotron
        h1 #{title}

        if user
          h3 Welcome, #{user.email}         
          a.btn.btn-primary(href="/logout") Logout
          br
          br
          if errorMsg
            p Error: {{errorMsg}}<!-- Stampa eventuali errori provenienti dal server--->
          else
            h4 Here the list of users:
            table(class="table table-striped")<!--Html per la tabella lista degli utenti--->
              thead
                tr
                  th #
                  th Name
                  th Address
                  th Email
                  th Accepts NewsLetter
                  th Accepts E-mail 
              tbody
                tr(ng-repeat="u in users | orderBy : 'name'")<!-- Ciclo for per la tabella lista degli utenti--->
                  td {{ $index + 1 }}
                  td {{ u.name }}
                  td {{ u.address }}
                  td {{ u.email }}
                  td {{ u.isNewsletterSignup }}
                  td {{ u.isSendNotification }}