extends layout

block content
	script(src='/angularjs/login.js')
	div.container(ng-app="loginApp" ng-controller="loginController")
		div.jumbotron
			div(class="container-fluid")
			section(class="container")
				div(class="container-page")
					form(name="loginForm", ng-submit="submitForm(loginForm.$valid, user)", novalidate)
						div(class="col-md-6")
							h3(class="dark-grey") Login
							div(class="form-group col-lg-12")
								label E-mail:
								input(type="email",name="email",class="form-control",id="" value="", ng-model="user.email", ng-required="true")
								<!--Message error for email-->
								p(ng-show!="loginForm.email.$error.email && loginForm.email.$dirty",class="help-block") E-mail not valid	
								p(ng-show!="loginForm.email.$error.required && loginForm.email.$dirty",class="help-block") E-mail is required
							div(class="form-group col-lg-12")
								label Password:
								input(type="password",name="password",class="form-control", ng-model="user.password", ng-required="true")
							div(class="form-group col-lg-12")<!--Messages error for password-->
								p(ng-show!="loginForm.password.$error.required && loginForm.password.$dirty",class="help-block") Password is required
							div(class="form-group col-lg-12")
								button(type="submit",class="btn btn-primary",ng-disabled="loginForm.$invalid") Login
							div(class="control-group error", ng-if="loginError == true") Errors: {{loginErrorMsg}}