extends layout

block content
	script(src='/angularjs/registration.js')
	div.container(ng-app="registrationApp" ng-controller="registrationController")
		div.jumbotron
			div(class="container-fluid")
			section(class="container")
				div(class="container-page", ng-if="registrationSuccess != true")
					form(name="regForm", ng-submit="submitForm(regForm.$valid, user)", novalidate)
						div(class="col-md-6")
							h3(class="dark-grey") Registration
							
							div(class="form-group col-lg-12")
								label Email Address:
								input(type="email",name="email",class="form-control",id="" value="", ng-model="user.email", ng-required="true")
								<!--Message error for email-->
								p(ng-show!="regForm.email.$error.email && regForm.email.$dirty",class="help-block") E-mail not valid	
								p(ng-show!="regForm.email.$error.required && regForm.email.$dirty",class="help-block") E-mail is required
							
							div(class="form-group col-lg-6")
								label Password:
								input(type="password",name="password",class="form-control", ng-model="user.password", ng-required="true", ng-minlength="8")
							div(class="form-group col-lg-6")
								label Repeat Password:
								input(type="password",name="password2",class="form-control", ng-model="user.password2", ng-required="true", ng-minlength="8")
							div(class="form-group col-lg-12")<!--Messages error for password-->
								p(ng-show!="regForm.password.$error.minlength && regForm.password.$dirty",class="help-block") Password too short, minimum length is 8
								p(ng-show!="regForm.password.$error.required && regForm.password.$dirty",class="help-block") Password is required
								p(ng-show!="(regForm.password.$viewValue != regForm.password2.$viewValue)",class="help-block") Passwords not match
								
							div(class="form-group col-lg-12")
								label Name and Surname:
								input(type="",name="name",class="form-control",id="" value="", ng-model="user.name", ng-minlength="3")
								p(ng-show!="regForm.name.$error.minlength && regForm.name.$dirty",class="help-block") Too short, minimum length is 3
							
							div(class="form-group col-lg-12")
								label Address:
								input(type="",name="address",class="form-control",id="" value="", ng-model="user.address")
										
							div(class="col-sm-6")
								input(type="checkbox",class="checkbox", ng-model="user.isNewsletterSignup",)
								Sigh up for our newsletter
							div(class="col-sm-6")
								input(type="checkbox",class="checkbox", ng-model="user.isSendNotification",)
								Send notifications to this email			
						div(class="col-md-6")
							h3(class="dark-grey") Terms and Conditions
							p Complete the form and registration
							button(type="submit",class="btn btn-primary",ng-disabled="regForm.$invalid") Signup
				div(class="container-page", ng-if="registrationSuccess == true")
					h2 Registration success.
					p Now you can login, click on login button below
					p
						a.btn.btn-primary(href="/login") Login